<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.simgeoapps.expensereport" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher_icon"
        android:logo="@drawable/launcher_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.simgeoapps.expensereport.Splash"
            android:label="@string/title_activity_launch_test"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter> <!-- put launcher title here, else inherit from parent activity -->
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.simgeoapps.expensereport.EnterExpense"
            android:label="@string/title_activity_enter_expenses" >
        </activity>
        <activity
            android:name="com.simgeoapps.expensereport.ViewExpenses"
            android:label="@string/title_activity_view_expenses" >
        </activity>
        <activity
            android:name="com.simgeoapps.expensereport.ViewCategories"
            android:label="@string/title_activity_view_categories" >
        </activity>
        <activity
            android:name="com.simgeoapps.expensereport.ViewUsers"
            android:label="@string/title_activity_view_users" >
        </activity>
    </application>

</manifest>
